.nav-clr{
  background-color: white;
}


.white {
  color: white;

}

body{
overflow-x: hidden;
}

.med-img{
  width: 100%;
  position: fixed;
}
/* 
.first-div{
  animation:  2s ease-in-out forwards;
}

.third-div{
  background-color: red;
  height: 123vh;
  opacity: 1;

}

@keyframes slide-up {
  from{
    margin-top: 84vh;
  }
  to{
    
  }
} 

.second-div{
  background-color: #9dacd1;
  height: 123vh;
  
}
*/

.home{
  background-color: red;
}

.first-div{
  height: 100vh;
  background-color: #9dacd1;

}

.bg-footer{
  background-color: rgb(73, 73, 73);
  
}

#links:hover{
  color: white;
  font-weight: bold;
  text-decoration: none;
}


.location{
  width: 80%;
}

.addr{
  font-family:  monospace system sans-serif;
  
}

@media only screen and (min-width: 521px )  {
  .addr {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 690px) {
  .addr {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 786px) {
  .addr {
    padding-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#icons{
  font-size: 40px;
}

#icons:hover{
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;

  transition: all 0.125s;
}

.logo-name{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif , monospace;

}



ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

