html{
  scroll-behavior: smooth;
}

.carousel-control-prev-icon,
  .carousel-control-next-icon{
    filter: invert(1)
  }

.nav-clr{
  background-color: white;
}


.white {
  color: white;

}

body{
overflow-x: hidden;
}

.med-img{
  width: 100%;
  position: fixed;
}
/* 
.first-div{
  animation:  2s ease-in-out forwards;
}

.third-div{
  background-color: red;
  height: 123vh;
  opacity: 1;

}

@keyframes slide-up {
  from{
    margin-top: 84vh;
  }
  to{
    
  }
} 

.second-div{
  background-color: #9dacd1;
  height: 123vh;
  
}
*/

.home{
  background-size: 100%  85vh;
}



.first-div{
  height: 85vh;
  /* background-color: #9dacd1; */
  background-color: rgba(0, 0, 0, 0.3);
  backface-visibility: visible;
  
}

.second-div{
  background-color: #9dacd1;
  padding-bottom: 6%;
}

.icon:hover{
  height: 200px;
  width: 200px;
  transition: all 0.25s;
}

@media only screen and (max-width: 570px )  {
  .home{
    background-size: 140% 85vh;
  
  }
  #dest-more{
    height: 280px;
    background-image: linear-gradient(to bottom right ,rgb(243, 153, 101) , #9dacd1 );
  }

}

@media only screen and (max-width:300px){
  #dest-more{
    height: 180px;
    background-image: linear-gradient(to bottom right ,rgb(243, 153, 101) , #9dacd1 );
  }
}

.third-div{
  padding-bottom: 4%;
  background-color: rgb(238, 238,238);
}

.fourth-div{
  background-image: linear-gradient(to bottom right ,  cornflowerblue , rgb(186, 196, 218) , rgb(197, 207, 226) , rgb(255, 255, 255) );
  
   padding-bottom: 5%;
}

.hosp-logo{
  border: rgb(42, 42, 42) 1px solid;
  
}

.black{
  color: rgb(0, 0, 0);
}

.centers-text-1{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Verdana, Geneva,monospace, Tahoma, sans-serif;
}

.dest-text-1{
  color: rgb(59, 59, 59);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dest-text-2{
  color: rgb(93, 159, 221);
}

.dest-text-3{
  margin-top: 80px;
}

#dest-img:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#dest-img{
  background-color: rgba(0, 0, 0, 0.3);
}

.main-txt{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  padding-top: 15%;
}

.bg-footer{
  background-color: rgb(73, 73, 73);
  
}

#links:hover{
  color: white;
  font-weight: bold;
  text-decoration: none;
}


.location{
  width: 80%;
}

.addr{
  font-family:  monospace system sans-serif;
  
}

@media only screen and (min-width: 521px )  {
  .addr {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  
}

@media only screen and (min-width: 690px) {
  .addr {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 786px) {
  .addr {
    padding-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
}

#icons{
  font-size: 40px;
}

#icons:hover{
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;

  transition: all 0.125s;
}

.logo-name{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif , monospace;

}



ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

